---
import { className } from "../utils/theme-functions.mjs";
const { show, year, image, title, content, credits } = Astro.props;
---

<div
  id={`content-${year}`}
  class={
    className(
        "absolute top-14 -left-full w-full h-96 transform transition duration-300 ease-in-out",
        "-translate-x-full [&.show]:left-0 [&.show]:translate-x-0",
        show === true ? "show" : null
    )
  }
>
  <div class="flex gap-x-6 w-full">
    <div class="relative flex-initial w-[500px] h-[300px] bg-cover bg-no-repeat bg-center" style={`background-image: url(${image.src})`}>
      <p class="absolute bottom-0 left-0 flex justify-center items-center w-full text-white text-xs font-medium py-1 px-1.5 bg-black/75">
        {credits}
      </p>
    </div>
    <div class="flex-1 flex flex-col gap-y-6 max-w-[680px] ">
        <h2 class="text-2xl text-[#15295a] font-extrabold" set:html={title} />
        <p class="text-lg text-slate-800 font-medium" set:html={content} />
    </divc>
  </div>
</div>
